/* *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
} */

/* #image{
    background-image: url(https://w0.peakpx.com/wallpaper/76/1017/HD-wallpaper-bmw-g80-m3.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    padding: 8rem 0;
} */

/* #input{
    margin: 2rem;
    padding: 2rem;
} */